<template>
    <v-container my-3 :class="{'pt-5': $vuetify.breakpoint.xsOnly}">
            <v-layout wrap>
                <v-flex xs12 pb-5 :class="{'pt-5': $vuetify.breakpoint.xsOnly}">
                    <h2 id="features" class="display-1 text-xs-center pt-5 pb-3">
                        All the features you need
                    </h2>
                    <p class="subheading text-xs-center">
                        Toorno comes built in with a number of features that aim to make your job easier than ever before
                    </p>
                </v-flex>
                <v-flex v-for="(feature, index) in list" :key="index" my-3 px-3 d-flex xs12 sm6 md4 lg4>
                    <v-card
                        class="elevation-5 hide-overflow text-xs-center"
                        light
                        max-width="375px"
                    >
                        <img
                        height="150"
                        class="py-3"
                        alt="desert"
                        :src="feature.image"
                        >
                        <v-card-text>
                            <h3 class="subheading font-weight-bold"> {{feature.title}} </h3>
                            <p class="mb-2"> {{ feature.body }} </p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
</template>

<script>
export default {
    props: {
        list: Array,
        deviceWidth: Number
    },
}
</script>

<style>

</style>
