<template>
    <v-container fluidgrid-list-xs>
        <v-layout class="hero" align-center justify-space-around row wrap>
            <v-flex xs12 md6 pl-4 pt-4 pb-4>
                <h1 class="display-2 pb-4"> Easier staff management, <br> for <span class="blue--text text--darken-2">your</span> business</h1>
                <p class="subheading">
                  Stop spending countless hours managing your staff schedule. Focus on the work that matters instead.
                </p>
                <v-btn href="#get-started" large v-smooth-scroll="{ duration: 3000 }" color="success">
                    <strong> GET STARTED NOW </strong>
                </v-btn>
                <v-btn href="#features" large v-smooth-scroll="{ duration: 3000 }" color="info black--text">
                    LEARN MORE
                </v-btn>
            </v-flex>
            <v-flex xs12 md6>
                <v-img contain height="500" :src="heroImage"></v-img>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    props: {
        heroImage: String
    }
}
</script>

<style scoped>
    .hero{
        height: 85vh ;
    }
</style>
