<template>
    <v-container>
            <v-layout wrap>
                <v-flex xs12 pb-5>
                    <h2 class="display-1 text-xs-center pt-5 pb-3">
                        Get started now
                    </h2>
                    <p class="subheading text-xs-center">
                        Choose the plan that fits best with your organization
                    </p>
                </v-flex>   
            </v-layout>

            <v-layout row wrap>
                <v-flex xs12 sm4 my-3 px-3 d-flex sm6 md4 lg4 v-for="(pricing, index) in list" :key="index">
                    <v-card @click.native="onPricingSelected(pricing)" hover raised class="py-5 px-2 card-to-hover" :class="{'active': pricing.active}">
                        <v-img
                        :src="pricing.icon"
                        height="50"
                        contain
                        ></v-img>

                        <v-card-title primary-title align-center align-content-center justify-center>
                            <div style="width:100%">
                                <h3 class="headline mb-0 text-xs-center"> {{ pricing.title }} </h3>
                                <p class="text-xs-center"> {{ pricing.subtitle }} </p>
                                <v-divider></v-divider>
                            </div>
                        </v-card-title>

                        <v-card-text class="pa-0">
                            <v-container fluid grid-list-xs align-content-start pa-0>
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-list>
                                            <v-list-tile class="pl-0" avatar v-for="(feature, index) in pricing.features" :key="index">
                                                <v-list-tile-avatar>
                                                    <v-icon color="success">{{feature.icon}}</v-icon>
                                                </v-list-tile-avatar>

                                                <v-list-tile-content>
                                                    <v-list-tile-title :class="{'font-weight-black': feature.bold}">
                                                      {{ feature.title }} 
                                                    </v-list-tile-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-list>
                                    </v-flex>
                                    <v-flex xs12>
                                        <h2 class="text-xs-center red--text text--lighten-1 display-1"> {{ pricing.price }} </h2>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>

            <v-layout row wrap pb-4>
                <v-flex xs12 md4 offset-md4 d-flex>
                    <v-spacer></v-spacer>
                    <transition name="fade">
                        <v-btn v-show="selectedPricing.title !== ''" large @click="$emit('buyButtonClicked', selectedPricing)" color="success" class="text-xs-center"> Get started with the {{ selectedPricing.title }} plan</v-btn>
                    </transition>
                    <v-spacer></v-spacer>
                </v-flex>
            </v-layout>
        </v-container>
</template>

<script>
export default {
    props: {
        list: Array
    },
    computed: {
        selectedPricing () {
          return this.list.find((pricing) => pricing.active)? this.list.find((pricing) => pricing.active) : {
            title: ''
          }
        }
    },
    methods: {
        onPricingSelected (pricing) {
            this.list.forEach(pricing => {
                pricing.active = false
            })

            pricing.active = true
        }
    }
}
</script>

<style scoped>
    .card-to-hover {
        border: 1px solid transparent;
    }

    .card-to-hover:hover {
        border: 1px solid #EF5350;
    }

    .card-to-hover:hover hr {
        border-color: #EF5350;
    }

    .active {
        border: 1px solid #EF5350;
    }

    .active hr {
        border-color: #EF5350 !important;
    }

    .fade-enter-active, .fade-leave-active {
        transition: 0.1 ease-out;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

</style>
