<template>
    <base-modal :showDialog="true" title="Thanks for your interest!">
        <v-container grid-list-md>
          <v-layout wrap>
            <v-flex xs12>
              <p class="subheading"> 
                Thanks for showing interest in Toorno. 
                Toorno is being actively developed and will be soon ready.
                Leave your email below and we'll notify you when it goes live along with a great discount code! 
              </p>
            </v-flex>
            <v-flex xs12>
              <v-text-field 
                label="Name"
                v-model="name"
                :rules="[rules.required]" />
            </v-flex>
            <v-flex xs12>
              <v-text-field 
                label="Email"
                v-model="email"
                :rules="[rules.required, rules.email]"></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
        <template slot="actions">
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click.native="onModalClosed"> Cancel </v-btn>
            <v-btn color="blue darken-1" flat @click.native="onFormSubmitted"> Submit </v-btn>
        </template>
    </base-modal>
</template>

<script>
import BaseModal from './ui/BaseModal'

export default {
    components: {
      BaseModal
    },
    props: {
        selectedPlan: String
    },
    data () {
        return {
            valid: true,
            name: '',
            email: '',
            dialog: true,
            rules: {
                required: v => !!v || 'This field is required',
                email: v => /.+@.+/.test(v) || 'E-mail must be valid'
            }
        }
    },
    methods: {
      onModalClosed () {
        this.$emit('modalClosed')
      },
      onFormSubmitted () {
        if (this.$refs.form.validate()){
          this.$emit('formSubmitted', {
            user: {
                name: this.name,
                email: this.email
            },
            selectedPlan: this.selectedPlan
          })
        }
      }
    }
}
</script>

<style>

</style>
