<template>
    <v-dialog v-model="showDialog" persistent max-width="500px">
      <v-card>
        <v-card-title v-if="title" class="headline elevation-5">
          {{ title }}
        </v-card-title>
        <v-card-text :class="additionalClass">
            <slot></slot>
        </v-card-text>
        <v-card-actions :class="additionalClass">
          <v-spacer></v-spacer>
          <slot name="actions"></slot>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: 'base_modal',
    props: {
        title: String,
        showDialog: Boolean,
        additionalClass: {
            type: String,
            default: ''
        }
    }
}
</script>

<style>
  .v-dialog {
    overflow-y: visible;
  }
  
  .v-dialog .v-card__title {
    position: absolute;
    left: 30px;
    right: 30px;
    top: -30px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background: linear-gradient(60deg,#66bb6a,#388e3c);
  }

  .v-dialog .v-card__text {
    padding-top: 80px;
  }
</style>
