<template>
  <v-app>
    <v-toolbar color="blue darken-2">
        <v-toolbar-title>
            <img class="brand-img" :src="images.logo" alt="">
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
        <v-btn tag="a" :href="loginUrl" dark flat> Login </v-btn>
        <v-btn tag="a" href="#features" v-smooth-scroll="{ duration: 3000 }" dark flat> Features </v-btn>
        <v-btn tag="a" href="#get-started" v-smooth-scroll="{ duration: 3000 }" flat dark class="green lighten-1"> Get Started Now </v-btn>
        </v-toolbar-items>
    </v-toolbar>
    <v-content>
        <router-view></router-view>
    </v-content>
    <v-footer id="get-started" dark height="auto">
        <v-card class="flex" flat tile>
        <v-card-actions class="grey darken-3 justify-center">
            &copy; {{ new Date().getFullYear() }} Toorno
            <v-spacer></v-spacer>
            <a
            v-for="icon in icons"
            :key="icon.image"
            :href="icon.url"
            target="_blank"
            class="mx-3"
            style="text-decoration: none">
                <v-icon size="24px">{{ icon.image }}</v-icon>
            </a>
        </v-card-actions>
        </v-card>
    </v-footer>
  </v-app>
</template>

<script>
import Hero from "../components/Hero";
import Features from "../components/Features";
import PricingPlans from "../components/PricingPlans";
import SubscribeModal from "../components/SubscribeModal";
import { images, pricings, features } from "../store";

export default {
  components: {
    Hero,
    Features,
    PricingPlans,
    SubscribeModal
  },
  data() {
    return {
      selectedPlan: null,
      showSubscribeModal: false,
      images,
      icons: [
        {
          image: "fab fa-facebook",
          url: "https://google.com"
        },
        {
          image: "fab fa-twitter",
          url: "https://google.com"
        }
      ],
      pricings,
      features
    };
  },
  computed: {
    isDevelopment () {
      return process.env.NODE_ENVIRONMENT === 'development'
    },
    loginUrl () {
      if (this.isDevelopment) {
        return '//localhost:8080/login'
      }
      
      return '//app.toorno.io/login'
    }
  },
  methods: {
    onBuyButtonClicked(pricingPlan) {
      this.selectedPlan = pricingPlan;
      this.showSubscribeModal = true;
    },
    onFormSubmitted(user) {
      console.log(user);
      const url =
        "https://us-central1-toorno-landing-page.cloudfunctions.net/api/mailerliteGroups";

      this.$axios.$post(url, user).then(res => {
        console.log(res);
      });
    }
  },
  head() {
    return {
      title: "Toorno | Easier Staff Management",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Toorno is the solution to all the headaches caused by your current staff management system"
        }
      ]
    };
  }
};
</script>
<style>
.brand-img {
  height: 25px;
}

.application {
  font-family: "Cabin", sans-serif !important;
}

.display-1,
.display-2,
.display-3,
.display-4,
.title,
.headline {
  font-family: "Amaranth", sans-serif !important;
}

.application h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amaranth", sans-serif !important;
  color: #333;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
