<template>
  <div>
    <hero :heroImage="images.mockup" />

    <features :list="features"/>

    <pricing-plans @buyButtonClicked="onBuyButtonClicked" :list="pricings" />
    <transition name="fade">
      <subscribe-modal 
          v-if="showSubscribeModal"
          @formSubmitted="onFormSubmitted"
          @modalClosed="showSubscribeModal = false" 
          :selectedPlan="selectedPlan" />
    </transition>
  </div>
</template>

<script>
import Hero from "../components/Hero";
import Features from "../components/Features";
import PricingPlans from "../components/PricingPlans";
import SubscribeModal from "../components/SubscribeModal";
import { images, pricings, features } from "../store";

export default {
  name: "Home",
  components: {
    Hero,
    Features,
    PricingPlans,
    SubscribeModal
  },
  data() {
    return {
      selectedPlan: null,
      showSubscribeModal: false,
      environment: process.env.NODE_ENV,
      images,
      pricings,
      features
    }
  },
  methods: {
    onBuyButtonClicked(pricingPlan) {
      let urlBase = this.environment === 'development' ? 'http://localhost:8080' : 'https://app.toorno.io'

      const url = `${urlBase}/signup?plan=${pricingPlan.slug}`

      mixpanel.track('Step 1: user selected plan', { name: pricingPlan.name, price: pricingPlan.price})
      
      window.open(url, '_blank');
    },
    onFormSubmitted(user) {
      const url = "https://us-central1-toorno-landing-page.cloudfunctions.net/api/mailerliteGroups";
      this.$axios.$post(url, user).then(res => {
        console.log(res);
      });
    }
  },
  head() {
    return {
      title: "Toorno | Easier Staff Management",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Toorno is the solution to all the headaches caused by your current staff management system"
        }
      ]
    };
  }
};
</script>
